body, p, ul, h1, h2, h3, h4, h5, h6
  margin 0
body
  font-size 14px
  font-weight 200
h1, h2, h3, h4, h5, h6
  font-family normal
ul, li
  list-style none
ul
  padding-left 0
a
  text-decoration none
i, em
  font-style normal